* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.rest {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 10, 32, 0.5)), to(rgba(1, 10, 32, 0.5))), url(./../image/bg-rest.png);
  background-image: linear-gradient(180deg, rgba(1, 10, 32, 0.5), rgba(1, 10, 32, 0.5)), url(./../image/bg-rest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .rest {
    padding-top: 207px;
    padding-bottom: 241px;
    text-align: start;
  }
}

.first-rest-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .first-rest-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 192px;
  }
}

.second-rest-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .second-rest-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.first-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
}
@media screen and (min-width: 1200px) {
  .first-rest-img {
    width: 630px;
    height: 460px;
    margin-right: 130px;
    border-radius: 10px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.second-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
}
@media screen and (min-width: 1200px) {
  .second-rest-img {
    width: 630px;
    height: 460px;
    border-radius: 10px;
  }
}

.rest-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1, 15;
  letter-spacing: 0%;
  margin-bottom: 1px;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .rest-title {
    margin-bottom: 4px;
  }
}

.rest-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 2;
  letter-spacing: 0.5px;
  margin-bottom: 1px;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .rest-text {
    margin-bottom: 0;
  }
}

.rest-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgb(221, 34, 66);
}
@media screen and (min-width: 1200px) {
  .rest-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 41px;
    padding-right: 41px;
  }
}

.explore {
  padding-top: 98px;
}
@media screen and (min-width: 1200px) {
  .explore {
    padding-top: 127px;
  }
}

.fone-explore-number {
  background-image: url(../../image/explore&number.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .fone-explore-number {
    background-image: url(../../image/explore&number-desk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.explore-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(1, 10, 32);
  margin-bottom: 23px;
  margin-left: 50px;
  margin-right: 50px;
}

.explore-img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
  margin-bottom: 933px;
}

.first-img-explore {
  width: 100%;
  margin-bottom: 728px;
  margin-left: 50px;
}
@media screen and (min-width: 1200px) {
  .first-img-explore {
    display: none;
  }
}

.second-img-explore {
  display: none;
}
@media screen and (min-width: 1200px) {
  .second-img-explore {
    display: block;
    width: 100%;
  }
}

.third-img-explore {
  display: none;
}
@media screen and (min-width: 1200px) {
  .third-img-explore {
    display: block;
    width: 100%;
  }
}

.four-img-explore {
  display: none;
}
@media screen and (min-width: 1200px) {
  .four-img-explore {
    display: block;
    width: 100%;
  }
}

.numbers {
  background: rgba(2, 12, 33, 0.86);
  background-image: url();
  padding-top: 72px;
  padding-bottom: 69px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .numbers {
    padding-top: 201px;
    padding-bottom: 225px;
  }
}

.numbers-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 57px;
}
@media screen and (min-width: 1200px) {
  .numbers-title {
    margin-bottom: 37px;
  }
}

.numbers-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
  color: rgb(224, 224, 224);
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .numbers-pretitle {
    margin-bottom: 39px;
    margin-right: 380px;
    margin-left: 380px;
  }
}

.numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .numbers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 127px;
  }
}

.numbers-statistics {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0%;
  color: rgb(221, 34, 66);
  margin-bottom: 5px;
}

.numbers-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgb(224, 224, 224);
  margin-bottom: 80px;
}

.maps {
  background-image: url(./../image/maps-fone-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 171px;
  padding-bottom: 116px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .maps {
    background-image: url(./../image/maps-fone-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 249px;
    padding-bottom: 256px;
  }
}

.maps-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .maps-title {
    margin-left: 300px;
    margin-right: 300px;
  }
}

.maps-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
  margin-bottom: 41px;
}
@media screen and (min-width: 1200px) {
  .maps-text {
    margin-left: 390px;
    margin-right: 390px;
  }
}

.maps-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgb(221, 34, 66);
}
@media screen and (min-width: 1200px) {
  .maps-btn {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 56px;
    padding-left: 56px;
  }
}

.live {
  background-color: black;
  background-image: url(./../image/live-fon-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 83px;
  padding-bottom: 2px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .live {
    background-color: black;
    background-image: url(./../image/live-fon-desk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.live-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-left: 100px;
  margin-right: 100px;
  color: #fff;
}

.video-img {
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .video-img {
    width: 1056px;
    height: 594px;
  }
}

@media screen and (min-width: 1200px) {
  .live-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list-img {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .list-img {
    width: 234px;
    height: 151px;
    border-radius: 5px;
  }
}

.live-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fff;
}

.live-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}

.gallery {
  padding-top: 32px;
  padding-bottom: 31px;
}

.gallery-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .gallery-title {
    margin-bottom: 42px;
  }
}

.gallery-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .gallery-pretitle {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 71px;
  }
}

.gallery-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-img-list {
  display: grid;
  grid-template-columns: repeat(2, 151px);
  grid-template-rows: repeat(4, auto);
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .gallery-img-list {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 370px);
    gap: 30px;
  }
}

.gallery-item-1 {
  grid-column: 1;
  grid-row: 1/span 2;
}

.gallery-item-2 {
  grid-column: 2;
  grid-row: 1;
}

.gallery-item-3 {
  grid-column: 3;
  grid-row: 1/span 2;
}

.gallery-item-4 {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

.gallery-item-5 {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
}

.gallery-item-6 {
  grid-column: 3;
  grid-row: 2;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
}

.getting {
  padding-top: 29px;
  padding-bottom: 32px;
}

.getting-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 120px;
}

.getting-list {
  counter-reset: num;
}

.getting-item {
  list-style: none;
  counter-increment: num;
  position: relative;
  margin-bottom: 10px;
  padding-left: 40px;
}

.getting-item::before {
  content: counter(num);
  position: absolute;
  left: 200px;
  bottom: 120px;
  width: 50px;
  height: 50px;
  background: rgb(221, 34, 66);
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
}

.getting-summary {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(221, 34, 66);
  list-style: none;
}

.getting-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.getting-pretitle-third {
  display: none;
}

.getting-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(21, 20, 57, 0.4);
}

.footer {
  padding-top: 147px;
  padding-bottom: 84px;
  background-color: rgb(1, 10, 32);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 39px;
    padding-bottom: 31px;
  }
}

.footer-div {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-logo {
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 36px;
    margin-top: 20px;
    margin-right: 250px;
  }
}

.footer-item {
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .footer-item {
    margin-bottom: 0;
  }
}

.footer-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .footer-link {
    text-align: none;
  }
}

.footer-list-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .footer-list-programs {
    margin-bottom: 0;
    margin-right: 50px;
    margin-top: 25px;
    gap: 22px;
  }
}

.program-svg-facebook {
  width: 21px;
  height: 21px;
  fill: #fff;
}
@media screen and (min-width: 1200px) {
  .program-svg-facebook {
    width: 17px;
    height: 17px;
  }
}

.program-svg-linkedin {
  width: 21px;
  height: 21px;
  fill: #fff;
}
@media screen and (min-width: 1200px) {
  .program-svg-linkedin {
    width: 16px;
    height: 16px;
  }
}

.program-svg-google {
  width: 18px;
  height: 18px;
  fill: #fff;
}
@media screen and (min-width: 1200px) {
  .program-svg-google {
    width: 14px;
    height: 14px;
  }
}

.footer-copyright {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .footer-copyright {
    text-align: end;
    margin-top: 20px;
  }
}