* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    border: 1px solid blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    border: 1px solid green;
  }
}

.rest {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-color: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: start;
}
@media screen and (min-width: 1200px) {
  .rest {
    padding-top: 207px;
    padding-bottom: 241px;
  }
}

.first-rest-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .first-rest-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 192px;
  }
}

.second-rest-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .second-rest-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.first-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
}
@media screen and (min-width: 1200px) {
  .first-rest-img {
    width: 630px;
    height: 460px;
    margin-right: 130px;
    border-radius: 10px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.second-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
}
@media screen and (min-width: 1200px) {
  .second-rest-img {
    width: 630px;
    height: 460px;
    border-radius: 10px;
  }
}

.rest-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1, 15;
  letter-spacing: 0%;
  margin-bottom: 1px;
}
@media screen and (min-width: 1200px) {
  .rest-title {
    margin-bottom: 4px;
  }
}

.rest-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 2;
  letter-spacing: 0.5px;
  margin-bottom: 1px;
}
@media screen and (min-width: 1200px) {
  .rest-text {
    margin-bottom: 0;
  }
}

.rest-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgb(221, 34, 66);
}
@media screen and (min-width: 1200px) {
  .rest-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 41px;
    padding-right: 41px;
  }
}

.explore-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(1, 10, 32);
}

.numbers {
  background-image: url(../../image/number-fone.png);
  padding-top: 72px;
  padding-bottom: 69px;
  text-align: center;
  background: rgb(2, 12, 33);
}
@media screen and (min-width: 1200px) {
  .numbers {
    padding-top: 201px;
    padding-bottom: 225px;
  }
}

.numbers-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 57px;
}
@media screen and (min-width: 1200px) {
  .numbers-title {
    margin-bottom: 37px;
  }
}

.numbers-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
  color: rgb(224, 224, 224);
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .numbers-pretitle {
    margin-bottom: 39px;
    margin-right: 380px;
    margin-left: 380px;
  }
}

.numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .numbers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 127px;
  }
}

.numbers-statistics {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0%;
  color: rgb(221, 34, 66);
  margin-bottom: 5px;
}

.numbers-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgb(224, 224, 224);
  margin-bottom: 80px;
}

.maps {
  padding-top: 171px;
  padding-bottom: 116px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .maps {
    padding-top: 249px;
    padding-bottom: 256px;
  }
}

.maps-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .maps-title {
    margin-left: 300px;
    margin-right: 300px;
  }
}

.maps-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
  margin-bottom: 41px;
}
@media screen and (min-width: 1200px) {
  .maps-text {
    margin-left: 390px;
    margin-right: 390px;
  }
}

.maps-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgb(221, 34, 66);
}
@media screen and (min-width: 1200px) {
  .maps-btn {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 56px;
    padding-left: 56px;
  }
}

.live {
  background-image: url();
  padding-top: 83px;
  padding-bottom: 2px;
  text-align: center;
}

.live-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-left: 100px;
  margin-right: 100px;
}

.video-img {
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .video-img {
    width: 1056px;
    height: 594px;
  }
}

@media screen and (min-width: 1200px) {
  .live-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list-img {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .list-img {
    width: 234px;
    height: 151px;
    border-radius: 5px;
  }
}

.live-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
}

.live-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}