.explore {
}
.explore-title {
  font-family: "DM Sans",sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(1, 10, 32, 1);
}
