.gallery {
  padding-top: 32px;
  padding-bottom: 31px;
}
.gallery-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }
}
.gallery-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 71px;
  }
}
.gallery-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-img-list {
  display: grid;
  grid-template-columns: repeat(2, 151px);
  grid-template-rows: repeat(4, auto);
  gap: 12px;
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 370px);
    gap: 30px;
  }
}
.gallery-item-1 {
      grid-column: 1;
      grid-row: 1 / span 2
    }
    .gallery-item-2 {
      grid-column: 2;
      grid-row: 1;
    }
    .gallery-item-3 {
      grid-column: 3;
      grid-row: 1 / span 2;
    }
    .gallery-item-4 {
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }
     .gallery-item-5 {
      grid-column: 2;
      grid-row: 2;
      align-self: end;
    }
     .gallery-item-6 {
      grid-column: 3;
      grid-row: 2;
    }
.gallery-img {
  display: block;
  width: 100%;
  height: auto;
}
