.header-hero-fone {
  background-image: linear-gradient(
      215.79deg,
      rgba(0, 0, 0, 0.31),
      rgba(0, 0, 0, 0.29)
    ),
    url(../../image/header-hero-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        215.79deg,
        rgba(0, 0, 0, 0.31) 29.66%,
        rgba(0, 0, 0, 0.29) 84.2%
      ),
      url(../../image/header-hero-mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header {
  padding-top: 48px;
}
.header-div{
    display: flex;
    justify-content: space-between;
}
.header-list {
 display: none;
  @media screen and (min-width: 1200px) {
     display: flex;
  gap: 62px;
  margin-top: 25px;
  margin-right: 150px;
  }
}
.header-item {
}
.header-link {
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
 color: white;
}
.find-list {
    display: flex;
    gap: 29px;
    margin-top: 25px;
}
.find-item {
}
.find-link {
}
.burger-link {
}
