.hero {
  padding-top: 45px;
  padding-bottom: 1px;
  @media screen and (min-width: 1200px) {
  }
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 8px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 100px;
    text-align: start;
    margin-bottom: 21px;
    margin-left: 80px;
  }
}
.hero-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 91px;
  padding-right: 91px;
  border: none;
  color: #fff;
  background-color: rgba(221, 34, 66, 1);
  margin-left: 70px;
  margin-bottom: 76px;
  @media screen and (min-width: 1200px) {
    margin-left: 80px;
  }
}
.hero-list {
  background: rgba(0, 0, 0, 0.517);
  gap: 32px;
  padding-left: 32px;
  padding-top: 35px;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 20px;
  }
}
.hero-item {
    
}
.hero-list-div{
    @media screen and (min-width: 1200px) {
        display: flex;
  }
}
.hero-score {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(221, 34, 66, 1);
  margin-bottom: 4px;
  
}
.hero-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 4px;
  @media screen and (min-width: 1200px) {
  }
}
.hero-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(147, 147, 147, 1);
  margin-bottom: 32px;
  margin-right: 30px;
  @media screen and (min-width: 1200px) {
  }
}
.hero-img {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 417px;
    height: 254px;
  }
}
