.live {
  background-color: black;
  background-image:  url(./../image/live-fon-mob.png);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 83px;
  padding-bottom: 2px;
  text-align: center;
  @media screen and (min-width: 1200px) {
      background-color: black;
      background-image: url(./../image/live-fon-desk.png);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
}
.live-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-left: 100px;
  margin-right: 100px;
    color: #fff;
}
.video-img {
  width: 100%;
  margin-top: 50px;
  @media screen and (min-width: 1200px) {
    width: 1056px;
    height: 594px;
  }
}
.live-list {
    @media screen and (min-width: 1200px) {
   display: flex;
   flex-direction: row;
  }
}
.live-item {
}
.list-img {
  width: 100%;
  margin-top: 40px;
  @media screen and (min-width: 1200px) {
    width: 234px;
    height: 151px;
    border-radius: 5px;
  }
}
.live-pretitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
    color: #fff;
}
.live-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
    color: #fff;
}
.first-group-live{

}
.second-group-live{

}
