.maps {
  padding-top: 171px;
  padding-bottom: 116px;
  text-align: center;
}
.maps-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  margin-bottom: 36px;
}
.maps-text {
    font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5;
margin-bottom: 41px;
}
.maps-btn {
      font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgba(221, 34, 66, 1);
}
