.rest {
  background-color: black;
  background-image: linear-gradient(
      180deg,
      rgba(1, 10, 32, 0.5),
      rgba(1, 10, 32, 0.5),
    ),
    url(./../image/bg-rest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-top: 207px;
    padding-bottom: 241px;
    text-align: start;
  }
}
.first-rest-list {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-bottom: 192px;
  }
}
.second-rest-list {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.first-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
  @media screen and (min-width: 1200px) {
    width: 630px;
    height: 460px;
    margin-right: 130px;
    border-radius: 10px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.second-rest-img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
  @media screen and (min-width: 1200px) {
    width: 630px;
    height: 460px;
    border-radius: 10px;
  }
}
.rest-item {
  @media screen and (min-width: 1200px) {
  }
}

.rest-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1, 15;
  letter-spacing: 0%;
  margin-bottom: 1px;
  color: #fff;
  @media screen and (min-width: 1200px) {
    margin-bottom: 4px;
  }
}
.rest-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 2;
  letter-spacing: 0.5px;
  margin-bottom: 1px;
  color: #fff;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.rest-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 108px;
  padding-right: 108px;
  border: none;
  color: #fff;
  margin-top: 59px;
  margin-bottom: 56px;
  background-color: rgba(221, 34, 66, 1);
  @media screen and (min-width: 1200px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 41px;
    padding-right: 41px;
  }
}
